
.addBtn {
  align-self: center;
  align-content: center;
  padding: 8px 16px;
  background-color: #ecaac2;
  color: #000;
  font-size: larger;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 40%;
} 

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.modal {
  background-color:#F6F0F0 ;
  padding: 3%;
  border-radius: 8px;
  width: 27%;
}

.modalTitle{
  color: #1a1a1c;
  text-align: center;
  font-size:xx-large;
  margin-top: 0;
}
.form {
  display: flex;
  color:#1a1a1c ;
  flex-direction: column;
  gap: 10px;
}

.input {
  padding: 10px;
  font-size: 1rem;
  border-radius: 4px;
  border: 1px solid #1a1a1c;
}

.textarea {
  padding: 10px;
  font-size: 1rem;
  border-radius: 4px;
  border: 1px solid #1a1a1c;
  resize: vertical;
}

.fileInput {
  padding: 8px;
  font-size: medium;
  
}

.priorityCategory{
  display: flex;
  flex-direction: row;
  justify-content:space-evenly;

}

.select {
  padding: 10px;
  font-size: medium;
  border-radius: 4px;
  font-weight: 600;
  width: 45%;
  border: 1px solid #1a1a1c;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 1%;
}

.cancelBtn {
  background-color: #1a1a1c;
  color: #F6F0F0;
  font-size: medium;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.submitBtn {
  background-color: #ecaac2;
  color: #000;
  font-size:medium;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}
.preview {
  margin-top: 10px;
}

.previewBtn {
  padding: 8px 16px;
  background-color: #ecaac2;
  color: #000;
  font-size: medium;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  text-align: center;
}

.previewBtn:hover {
  background-color: #e88c9a;
}
